/* 'Ubuntu' font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Body */
body {
  background-color: #292C44;
}

/* Bordered form */
form {
  border: 3px solid #4F80E1;
  border-radius: 5px;
  width: 66%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  background-color: #B1B1B1;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #4F80E1;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Style for labels */
label {
  color: #E9E9E9;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
}

/* Style for all buttons */
button {
  background-color: #4F80E1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

/* Hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the user image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* User image */
img.user {
  width: 10%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}