<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style\main.css">
    <title>Add Task</title>
    <script src="../src/call_api.js" defer></script>
</head>
<body>
  <div class="content" id="hello_content">
    <h1 id="content_h1">Waiting...</h1>
  </div>
    <!-- <form action="add_task.html" method="post">
        <label><b>Create Task</b></label>
      
        <div class="container">
          <input type="text" placeholder="Title" name="title" required>
          <input type="datetime-local" placeholder="Due Date" name="due_date" required>
          <select placeholder="Reoccurring" name="reoccurring">
            <option value="dayli">Dayli</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
          <textarea placeholder="Notes" name="notes" required></textarea>
      
          <button type="submit">Confirm</button>
          <button type="button">Cancel</button>
        </div>
      </form>  -->
</body>
</html>