<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style\main.css">
    <title>Create list</title>
</head>
<body>
    <form action="main_page.html" method="post">
        <label><b>Create List</b></label>
        <div class="container">
            <input type="text" placeholder="Title" name="title" required>
            <button type="submit" class="inline">Confirm</button>
            <button type="button" class="inline">Cancel</button>
        </div>
    </form> 
</body>
</html>